parameters:
	ignoreErrors:
		-
			message: '#^Call to function method_exists\(\) with ''WP_Plugin…'' and ''has_active…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: admin/includes/class-plugin-manager.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 2
			path: admin/includes/class-readme-manager.php

		-
			message: '#^Strict comparison using \=\=\= between ''head'' and \*NEVER\* will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: admin/includes/class-readme-manager.php

		-
			message: '#^Variable \$author might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: admin/partials/theme-panel.php

		-
			message: '#^Variable \$theme_data might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: admin/partials/theme-panel.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(string\)\: bool\)\|null, ''strlen'' given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-seoprostack-settings.php

		-
			message: '#^Parameter \#1 \$args of method WP_Admin_Bar\:\:add_node\(\) expects array\{id\?\: string, title\?\: string, parent\?\: string, href\?\: string, group\?\: bool, meta\?\: array\}, array\{id\: ''seoprostack\-more'', title\: non\-falsy\-string, href\: false, meta\: array\{menu_title\: string, tabindex\: 0\}\} given\.$#'
			identifier: argument.type
			count: 1
			path: includes/features/class-seoprostack-admin-bar-more.php

		-
			message: '#^Call to function method_exists\(\) with WP_Screen and ''is_block_editor'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: includes/features/class-seoprostack-admin-notices.php

		-
			message: '#^Parameter \#1 \$query of method WP_HTML_Tag_Processor\:\:next_tag\(\) expects array\{tag_name\?\: string\|null, match_offset\?\: int\|null, class_name\?\: string\|null, tag_closers\?\: string\|null\}\|null, ''img'' given\.$#'
			identifier: argument.type
			count: 1
			path: includes/features/class-seoprostack-auto-upload.php

		-
			message: '#^Call to function is_array\(\) with mixed will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 2
			path: includes/features/class-seoprostack-avatar-privacy.php

		-
			message: '#^Offset ''retry'' on \*NEVER\* in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: includes/features/class-seoprostack-avatar-privacy.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: includes/features/class-seoprostack-database-keys.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(string\)\: bool\)\|null, ''strlen'' given\.$#'
			identifier: argument.type
			count: 1
			path: includes/features/class-seoprostack-delay-scripts.php

		-
			message: '#^Parameter \#2 \$src of function wp_register_script expects non\-empty\-string\|false, '''' given\.$#'
			identifier: argument.type
			count: 1
			path: includes/features/class-seoprostack-duplicate-posts.php

		-
			message: '#^Call to function method_exists\(\) with ''WP_Site_Health'' and ''get_test_opcode…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: includes/features/class-seoprostack-hosting-needs.php

		-
			message: '#^Parameter \#2 \$scheme of function wp_hash expects ''auth''\|''logged_in''\|''nonce''\|''secure_auth'', ''seoprostack…'' given\.$#'
			identifier: argument.type
			count: 2
			path: includes/features/class-seoprostack-maintenance.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: includes/features/class-seoprostack-nextgen-images.php

		-
			message: '#^Action callback returns null but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: includes/features/class-seoprostack-plugin-loading.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 6
			path: includes/features/class-seoprostack-post-reactions.php

		-
			message: '#^Method SEOProStack_Post_Scheduler\:\:day_options\(\) should return array\<string, string\> but returns array\<int, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: includes/features/class-seoprostack-post-scheduler.php

		-
			message: '#^Parameter \#1 \$postarr of function wp_update_post expects array\{ID\?\: int, post_author\?\: int, post_date\?\: string, post_date_gmt\?\: string, post_content\?\: string, post_content_filtered\?\: string, post_title\?\: string, post_excerpt\?\: string, \.\.\.\}, array\{ID\: int\<0, max\>, post_title\: string, post_content\: string, post_excerpt\: string, post_author\: ''''\|numeric\-string, menu_order\: int, post_password\: string, comment_status\: non\-empty\-string, \.\.\.\} given\.$#'
			identifier: argument.type
			count: 1
			path: includes/features/class-seoprostack-post-versions.php

		-
			message: '#^Parameter \#2 \$src of function wp_register_script expects non\-empty\-string\|false, '''' given\.$#'
			identifier: argument.type
			count: 1
			path: includes/features/class-seoprostack-post-versions.php

		-
			message: '#^Parameter \#2 \$src of function wp_register_script expects non\-empty\-string\|false, '''' given\.$#'
			identifier: argument.type
			count: 1
			path: includes/features/class-seoprostack-preview-links.php

		-
			message: '#^Call to function is_array\(\) with array\{error\: non\-empty\-string\}\|array\{file\: ''0'', url\: non\-empty\-string, type\: non\-empty\-string\} will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: includes/features/class-seoprostack-replace-media.php

		-
			message: '#^Action callback returns array but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: includes/features/class-seoprostack-short-links.php

		-
			message: '#^Method SEOProStack_Short_Links\:\:status_options\(\) should return array\<string, string\> but returns array\<int, string\>\.$#'
			identifier: return.type
			count: 1
			path: includes/features/class-seoprostack-short-links.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 1
			path: includes/features/class-seoprostack-short-links.php

		-
			message: '#^Property WP_Block_Type\:\:\$style_handles \(array\<string\>\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: includes/features/class-seoprostack-spectra-blocks.php

		-
			message: '#^Property WP_Block_Type\:\:\$view_script_handles \(array\<string\>\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: includes/features/class-seoprostack-spectra-blocks.php

		-
			message: '#^Parameter \#2 \$src of function wp_register_script expects non\-empty\-string\|false, '''' given\.$#'
			identifier: argument.type
			count: 1
			path: includes/features/class-seoprostack-sticky-posts.php

		-
			message: '#^Call to an undefined method DOMNameSpaceNode\|DOMNode\:\:getAttribute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/features/class-seoprostack-svg-uploads.php

		-
			message: '#^Parameter \#1 \$el of static method SEOProStack_Svg_Uploads\:\:expanded_count\(\) expects DOMElement, DOMNode given\.$#'
			identifier: argument.type
			count: 1
			path: includes/features/class-seoprostack-svg-uploads.php

		-
			message: '#^Parameter \#1 \$args of function wp_dropdown_categories expects array\{show_option_all\?\: string, show_option_none\?\: string, option_none_value\?\: string, orderby\?\: string, pad_counts\?\: bool, show_count\?\: bool\|int, echo\?\: bool\|int, hierarchical\?\: bool\|int, \.\.\.\}, array\{taxonomy\: string, hide_empty\: 0, hierarchical\: 1, name\: ''seoprostack_parent'', id\: ''seoprostack\-term…'', show_option_none\: string, option_none_value\: 0, orderby\: ''name'', \.\.\.\} given\.$#'
			identifier: argument.type
			count: 1
			path: includes/features/class-seoprostack-term-tools.php

		-
			message: '#^Call to function is_object\(\) with object will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: includes/features/class-seoprostack-widget-control.php

		-
			message: '#^Instanceof between DOMElement and DOMElement will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: includes/features/class-seoprostack-word-import.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: includes/features/class-seoprostack-word-import.php

		-
			message: '#^Strict comparison using \!\=\= between '''' and '''' will always evaluate to false\.$#'
			identifier: notIdentical.alwaysFalse
			count: 1
			path: includes/features/class-seoprostack-word-import.php

		-
			message: '#^Strict comparison using \!\=\= between null and null will always evaluate to false\.$#'
			identifier: notIdentical.alwaysFalse
			count: 1
			path: includes/features/class-seoprostack-word-import.php
